<div class="w-1/3 mx-auto mt-12 bg-white p-4 rounded-md">
    <h2 class="text-2xl py-4">Liste des ingrédiants</h2>
    <div>
        <% if @meals_is_empty == true %>
            <p class="m-5">Vous avez aucun ingrédiant !</p>
        <% else %>
            <table class="m-5 border-collapse border border-gray-400">
                <thead>
                    <tr>
                        <th class="p-2 border border-gray-300">Nom de l'ingrédiant</th>
                        <th class="p-2 border border-gray-300">kcal par portion</th>
                        <th class="p-2 border border-gray-300">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <% @meals.each do |meal| %>
                        <tr>
                            <th class="border border-gray-300"><%= meal.name %></th>
                            <th class="border border-gray-300"><%= meal.calories %></th>
                            <th class="text-start border border-gray-300">
                                <% if !meal.is_default == true %>
                                    <a href="/meals/<%= meal.id %>/edit"><i class="fa-solid fa-pencil"></i></a>
                                    <a href="/meals/<%= meal.id %>/delete"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                                <% end %>
                            </th>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
        
        <a class="p-2 w-full text-center bg-blue-500 text-white rounded-md" href="/meals/create">Ajouter un aliment</a>    
    </div>
   </div>