<form class="w-1/3 mx-auto mt-12 bg-white p-4 rounded-md" action="/user/update" method="post">
    <h2 class="text-4xl py-5">Modification du mot de passe</h2>
    <label for="new_mdp">Nouveau mot de passe :</label>
    <input class="w-full mb-4 p-2 border border-black rounded-md py-5 space-y-4" name="new_mdp" id="new_mdp" type="password" required>
    <label for="conf_new_mdp">Confirmation du nouveau mot de passe :</label>
    <input class="w-full mb-4 p-2 border border-black rounded-md py-5 space-y-4" name="conf_new_mdp" id="conf_new_mdp" type="password" required>
    <button class="p-2 w-full text-center bg-blue-500 text-white rounded-md" type="submit">Valider</button>
    <p><%= @err %></p>
</form>