<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome <strong><%= @user.name %></strong></h2>
    <div>
        <h3>Your consumptions</h3>
        <% if @daily_consumptions_empty == true %>
            <p>You don't have consumption today</p>
        <% else %>
            <% @daily_consumptions.each do |consumption| %>
            <p>
                <%= consumption.quantity %>x 
                <%= consumption.meal.name %> 
                (<%= consumption.meal.calories %> kcal par portion)
            </p>
            <% end %>
        <% end %>
        <a href="consumptions/edit">add new meals in consumption</a>
    </div>
</body>
</html>